
<header>
	<div class="banner row">
		<div class="row-1">
			<div class="title">
				<h2>
		  			{{title}}
				</h2>
			</div>
			<div class="usr-ctrl">
				<div class="usr-ctrl_cont notifications">
					<md-icon>notifications</md-icon>
				</div>
				<div class="usr-ctrl_cont">
					<div class="usr-ctrl_img">
						
					</div>
					<div class="usr-ctrl_arrow">
						<md-icon>arrow_drop_down</md-icon>
					</div>
				</div>
			</div>
		</div>
		<div class="row-2">	
			<div class="greeting">
				<h1>Welcome, Tristan.</h1>
			</div>
		</div>	
	</div>
</header>
<section class="dash">
	<div class="row">
		<md-grid-list cols="12" rowHeight="8:6" gutterSize="20px">
			<md-grid-tile colspan="3" rowspan="5">
				<div class="dash-column weather">
					<div class="temp"><h1>{{weather?.temp}}&deg;F</h1></div>
					<div class="description"><h3>{{weather?.date}} - {{weather?.description}}</h3></div>
				</div>
			</md-grid-tile>
			<md-grid-tile colspan="6" rowspan="5">
				<h1>Todo</h1>
			</md-grid-tile>
			<md-grid-tile colspan="3" rowspan="5">
				<h1>Progress Tracker</h1>
			</md-grid-tile>
			<md-grid-tile colspan="6" rowspan="5">
				<h1>Calendar</h1>
			</md-grid-tile>
			<md-grid-tile colspan="6" rowspan="5">
				<h1>Quicklinks</h1>
			</md-grid-tile>
		</md-grid-list>
	</div>
</section>
