<div class="hero">
	<div class="banner row">
		<div class="row-2">	
			<div class="greeting">
				<h1>{{greeting}}</h1>
			</div>
		</div>	
	</div>
</div>
<section class="dash">
	<div class="row">
		<md-grid-list cols="12" rowHeight="8:6" gutterSize="20px">
			<md-grid-tile colspan="3" rowspan="5">
				<div class="dash-column weather">
					<div class="text">
						<div class="text_cell">
							<div *ngIf="weather">
								<img src="src/img/{{weather?.icon}}.svg"/>
								<p>{{weather?.description}}</p>
								<h1>{{weather?.temp?.now}}&deg;</h1>
								<p>{{weather?.date}}</p>
							</div>
							<p *ngIf="weatherError">{{weatherError}}</p>
							<a md-raised-button routerLink="/weather" color="primary">Open<md-icon>keyboard_arrow_right</md-icon></a>
						</div>
					</div>
				</div>
			</md-grid-tile>
			<md-grid-tile colspan="6" rowspan="5">
				<h1>Todo</h1>
			</md-grid-tile>
			<md-grid-tile colspan="3" rowspan="5">
				<h1>Task Tracker</h1>
			</md-grid-tile>
			<md-grid-tile colspan="6" rowspan="5">
				<h1>Calendar</h1>
			</md-grid-tile>
			<md-grid-tile colspan="6" rowspan="5">
				<h1>Quick Links</h1>
			</md-grid-tile>
		</md-grid-list>
	</div>
</section>