<div class="hero">
	<div class="banner row">
		<div class="row-2">	
			<div class="report">
				<div *ngIf="weather" class="current">
          <p>{{weather?.description}}</p>
          <h1>{{weather?.temp?.now}}&deg;</h1>
          <p><span class="pill">{{weather?.temp?.max}}&deg;{{' ' + weather?.temp?.min}}&deg;</span>{{' / ' + weather?.date}}</p>
        </div>
			</div>
		</div>	
	</div>
</div>
<section class="weather">
  <div class="row">
    <a md-raised-button routerLink="/" color="primary">Back</a>
    <div class="card-container">
      <div *ngFor="let weatherReport of weatherArray" class="weather-card">
        <div style="background: rgba(120,120,120, .5); border-radius: 5px; text-align: center; margin: 27px 0; padding: 27px 0" *ngIf="weatherReport">
          <img src="src/img/{{weatherReport?.icon}}.svg"/>
          <p>{{weatherReport?.description}}</p>
          <h1>{{weatherReport?.temp?.max}}&deg;{{' ' + weatherReport?.temp?.min}}&deg;</h1>
          <h1></h1>
          <p class="pill">{{weatherReport?.date}}</p>
          <p>{{weatherReport?.location}}</p>
        </div>
      </div>
    </div>
    <p *ngIf="weatherError">{{weatherError}}</p>
  </div>
</section>