<div class="hero">
	<div class="banner row">
		<div class="row-2">	
			<div class="greeting">
				<h1>{{greeting}}</h1>
			</div>
		</div>	
	</div>
</div>
<section class="dash">
	<div class="row">
		<div class="dash-container" fxLayout="row" fxLayoutWrap="wrap">
			<div class="dash-card" [fxFlex]="(25 - 2)" [fxFlex.md]="(100 / 3) - 2" [fxFlex.sm]="(100 / 2) - 2" fxFlex.lt-sm="100%">
				<div class="dash-column weather">
					<div class="text">
						<div class="text_cell">
							<div *ngIf="weather">
								<img src="src/img/{{weather?.icon}}.svg"/>
								<p>{{weather?.description}}</p>
								<h1>{{weather?.temp?.now}}&deg;</h1>
								<p>{{weather?.date}}</p>
							</div>
							<p *ngIf="weatherError">{{weatherError}}</p>
							<a md-raised-button routerLink="/weather" color="primary">Open<md-icon>keyboard_arrow_right</md-icon></a>
						</div>
					</div>
				</div>
			</div>
			<div class="dash-card" [fxFlex]="(50 - 2)" [fxFlex.md]="(100 / 3) - 2" [fxFlex.sm]="(100 / 2) - 2" fxFlex.lt-sm="100%">
				<h1>Todo</h1>
			</div>
			<div class="dash-card" [fxFlex]="(25 - 2)" [fxFlex.md]="(100 / 3) - 2" [fxFlex.sm]="(100 / 2) - 2" fxFlex.lt-sm="100%">
				<h1>Task Tracker</h1>
			</div>
			<div class="dash-card" [fxFlex]="(50 - 2)" fxFlex.lt-sm="100%">
				<h1>Calendar</h1>
			</div>
			<div class="dash-card" [fxFlex]="(50 - 2)" fxFlex.lt-sm="100%">
				<h1>Quick Links</h1>
			</div>
		</div>
	</div>
</section>